* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  margin: 40px 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

/* Product */

.product {
  border: 5px solid #7e1db6;
  width: 825px;
  margin: 52px auto;
  position: relative;
}

.product-title {
  font-size: 22px;
  background-color: #f7f7f7f7;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

/* h2 {
  font-size: 32px;
  background-color: aliceblue;
  text-align: center;
  line-height: 1.5px;
} */

h3 {
  font-size: 16px;
  text-transform: uppercase;
}

/* Product Information */

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  font-weight: bold;
  color: grey;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.more-info:hover {
  text-decoration: none;
}

/* a {
  color: black;
}

a:active {
  text-decoration: none;
} */

/* Product Details */

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin: 40px 0 10px 0;
}

.details-list {
  list-style: square;
}

/* BUTTON */

.add-cart {
  background-color: #7e1db6;
  border: none;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  height: 40px;
}

.add-cart:hover {
  color: #7e1db6;
  background-color: black;
}

/* Button {
  background-color: #7e1db6;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
} */

/* li {
  list-style: square;
} */

ul,
ol {
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

/* h2 {
  position: relative;
}

h2::before {
  content: "SALE";
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: red;
  color: white;
  position: absolute;
  top: -20px;
  left: -30px;
} */

.sale {
  background-color: red;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -20px;
  left: -40px;
  letter-spacing: 2px;
  /* width: 40px;
  text-align: center; */
}

.color-swatch {
  width: 30px;
  height: 30px;
  display: inline-block;
  /* border: 2px solid #444444; */
  /* margin-top: 30px; */
  margin-right: 10px;
}

.color-swatch.black {
  background-color: black;
}

.color-swatch.blue {
  background-color: blue;
}

.color-swatch.red {
  background-color: red;
}

.color-swatch.yellow {
  background-color: yellow;
}

.color-swatch.green {
  background-color: green;
}

.color-swatch.brown {
  background-color: brown;
}
