* {
  margin: 0;
  padding: 0;
}

body {
  color: #444444;
  font-family: sans-serif;

  border-top: 10px solid #7e1db6;
  position: relative;
}

.container {
  width: 700px;
  margin: 0 auto;
  /* position: relative; */
}

/* h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444444;
} */

h1,
h2,
h3 {
  color: #7e1db6;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
  /* display: inline; */
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related-post {
  list-style: none;
}

/* header {
  background-color: #f7f7f7;
} */

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #7e1db6;
  border-bottom: 5px solid #7e1db6;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500px;
}

/* body {
  background-color: aliceblue;
} */

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

li:nth-child(even) {
  /* color: red; */
}

article p:last-child {
  color: red;
}

a {
  color: red;
}

a:link {
  color: #7e1db6;
  text-decoration: none;
}

a:visited {
  color: #7e1db6;
}

a:hover {
  color: rgb(255, 196, 0);
  font-weight: bold;
  text-decoration: underline rgb(255, 196, 0);
}

a:active {
  background-color: #444444;
  font-style: italic;
}

#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: green;
}

footer p {
  color: yellow;
}

.post-img {
  width: 100%;
  height: auto;
  /* margin: 100px; */
}

nav a:link {
  /* background-color: #444444;
  margin: 20px;
  padding: 20px;

  display: block; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  /* border: none; */

  position: absolute;
  /* top: 50px;
  left: 50px; */
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h3 + p::first-line {
  color: red;
}

h2 {
  /* background-color: orange; */
  position: relative;
}

h2::before {
  content: "TOP";
  background-color: #ffe70e;
  color: #444444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -20px;
}

/* h2::first-letter {
  font-size: 80px;
} */
